.todo {
  background-color: lightgrey;
  width: 300px;
  margin: 100px;
  border-radius: 10px;
}
.ficha {
  border-radius: 5px;
  text-align: center;
  background-color: skyblue;
  color: white;
  display: block;
}
.cajas {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
label {
  color: #1bb9e9;
  text-align: left;
}

.ficha label {
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
}

#email {
  padding: 5px;
  margin: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

#telephone {
  padding: 5px;
  margin: 10px;
  background-color: cyan;
  color: white;
  border-radius: 5px;
}

#gusto {
  margin: 10px;
  padding: 5px;
  background-color: rgb(33, 167, 73);
  color: white;
  border-radius: 5px;
}

#porcentaje {
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
}